@model IList<Recipe>

@{
    ViewData["Title"] = "Index";
}
<html>
<head>
    <style>
        .wrapper {
            display: grid;
            grid-gap: 10px;
            margin: 10px;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(3, 300px);
            justify-content: center;
        }

        .item {
            background-color: lightgreen;
            height: 350px;
            vertical-align: middle;
        }

        h1 {
            position: relative;
            bottom: 5px;
            padding-left: 3px;
            color: blue;
            font-weight: bold;
            font-size: 16px;
        }

        .bottomalign {
            /*position: relative;
            bottom: 10px;*/
            display: inline-block;
            margin: auto;
        }

        .bottomaligntext {
            /*position: relative;*/
            display: inline-block;
            text-align: right;
            margin: auto;
        }
    </style>
</head>

<h2>Index</h2>
<div class="wrapper">
    @foreach (Recipe recipe in Model)
    {
        <div class="item">
            <a asp-controller="Recipes" asp-action="Detail" asp-route-id="@recipe.Id">
                <img src="/../../images/@recipe.ImageName" height="250" width="300" />
            </a>
                <a asp-controller="Recipes" asp-action="Detail" asp-route-id="@recipe.Id">
                    <h1>@recipe.Name</h1>
                </a>
                @switch (Math.Round(recipe.AverageRating, 0))
                {
                    case 1:
                        <img src="/../../images/1-star.png" height="20" width="80" class="bottomalign" /> 
                        break;
                    case 2:
                        <img src="/../../images/2-star.png" height="20" width="80" class="bottomalign" />
                        break;
                    case 3:
                        <img src="/../../images/3-star.png" height="20" width="80" class="bottomalign" />
                        break;
                    case 4:
                        <img src="/../../images/4-star.png" height="20" width="80" class="bottomalign" />
                        break;
                    case 5:
                        <img src="/../../images/5-star.png" height="20" width="80" class="bottomalign" />
                        break;
                }
                <p class="bottomaligntext">@recipe.Ingredients.Count Ingredients</p>


</div>
    }

</div>


